
<div th:fragment="nav" xmlns:th="http://www.thymeleaf.org">
  <div class="btn-group d-flex" role="group">
    <a class="btn btn-primary" th:href="@{/index}">FoxPage</a>
    <a class="btn btn-primary" th:href="@{/nutritionStore}">Nutrition Store</a>
    <a class="btn btn-primary" th:href="@{/trickCenter}">Trick Center</a>
    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
  </div>
</div>

<div th:fragment="all" xmlns:th="http://www.thymeleaf.org">
  <div class="btn-group d-flex" role="group">
    <a class="btn btn-primary" th:href="@{/login}">Login</a>
    <a class="btn btn-primary" th:href="@{/index}">FoxPage</a>
    <a class="btn btn-primary" th:href="@{/nutritionStore}">Nutrition Store</a>
    <a class="btn btn-primary" th:href="@{/trickCenter}">Trick Center</a>
    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
  </div>
</div>